<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>careers</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=1.1">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <section>
      <h1 class="text-primary-emphasis">jovian careers</h1>
      <img src="{{ url_for('static', filename='banner.jpg') }}" width="800" class="img"/>
  </section>
  <section>
    <h1 class="text-primary-emphasis mt-5">About Jovian</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </section>
  <section>
    <h2 class="text-primary-emphasis mt-5 ">Open Positions</h2>
    {% for job in jobs%}
    {%include 'job.html'%}
   
    {%endfor%}

  </section>
  <section id="contact">
    <button class="btn btn-primary">Contact Us</button>
  </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>