<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>job</title>
</head>
<body>
   <div class="row   border-bottom border-primary-subtle p-2 mb-2">
      <div class="col">
        <h4>{{job['title']}}</h4>
        <p class="text-center fs-5">{{job['location']}}</p>
        {% if 'salary' in job%}
        <p class="text-center fw-normal fs-4">salary: {{job['salary']}}</p>
        {%endif%}
      </div>
      <div class="col">
      <button class="btn btn-outline-primary apply_btn">Apply</button>

      </div>
    </div>
  
</body>
</html>