<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta tags and title here -->
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-3 mb-4 border-bottom fixed-top bg-white">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex ml-5 link-body-emphasis text-decoration-none">
          Jovian
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {% block navbar_links %}{% endblock %}
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary">Contact Us</button>
      </div>
    </header>
  </div>
  <div style="height: 60px;"></div>
  
  <!-- Content block to be replaced by extending templates -->
  {% block content %}{% endblock %}
</body>
</html>
